@media (max-width: 768px){
    .h1nav h1 {
                font-size: 20px;
                margin-bottom: 10px;
            }

            .nav nav {
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }

            .nav nav a {
                font-size: 16px;
            }

            .buscar-carrito {
                margin-top: 10px;
            }

            
            main h2 {
                font-size: 18px;
            }

            .tendenciatitulo h3 {
                font-size: 16px;
            }

            
            .filter {
                font-size: 12px;
            }

            
            .productos {
                flex-direction: column;
                padding: 0 10px;
                gap: 20px;
                max-width: 768px;
            }

            .productos article {
                width: 100%;
                max-width: 100%;
            }

            .productos article img {
                height: 250px;
            }

            .productos article p {
                font-size: 16px;
            }

            .productos article button {
                padding: 10px 20px;
                font-size: 14px;
                max-width: 100%;
            }

            
            .dropdown-menu {
                max-width: 100%;
                padding: 10px;
            }

            
            .footer {
                padding: 15px;
            }

            .footer-fotos {
                gap: 15px;
            }

            .footer-fotos img {
                width: 25px;
                height: 25px;
            }

            body, html {
                overflow-x: hidden; 
                width: 100%; 
            }

            article {
                display: block; 
                width: 100%; 
                box-sizing: border-box;
            } 


        }

